body {
  background: #0f0f0f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

canvas {
  margin-bottom: 20px;
}
#text {
  margin-top: 20px;
  font-size: 22px;
}
