body {
  background: #0f0f0f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
  font-family: Arial, sans-serif;
}

canvas {
  margin-bottom: 15px;
}

#text {
  font-size: 20px;
  margin-top: 10px;
}
